@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contacts ASP.NET</h1>
    <p class="lead">This is a simple contacts application built by <a href="https://github.com/dmashuda">Daniel Mashuda</a> as part of a Computer Science independent study</p>
    <p><a href="https://github.com/dmashuda/ContactsDotNet" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>York College of Pennsylvania</h2>
        <p>
           Some Text about the CS Department Goes here
        </p>
        <p><a class="btn btn-default" href="http://www.ycp.edu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>York College Computer Science</h2>
        <p>Some text about CS Goes here</p>
        <p><a class="btn btn-default" href="http://www.ycp.edu/academics/academic-departments/physical-sciences/programs-in-engineering-and-computer-science/computer-science/">Learn more &raquo;</a></p>
    </div>

</div>